@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Listado Vehiculos</h3>

            </div>
        </div>
        <div class="panel-body" style="overflow-x:auto;">
            <table id="tablaVehiculos" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in Model)
                    { }*@
                </tbody>
            </table>
        </div>
    </div>
</div>
